<div class="row">
	<div id="popover-head" class="hide">
    	Message
    <div id="popover-content" class="hide">
        
        <form class="msg-form form-horizontal" name="form-horizontal" role="form" action="message">
            	<div class="form-group">
                    <label class="col-lg-1 col-md-1 col-sm-2 col-xs-2 control-label">To:</label>
                    <p class="msgheader form-control-static">email@example.com</p>
                </div>
                <div class="form-group">
                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            		<textarea rows="8" class="form-control" id="focusedInput" name="focusedInput" placeholder="Enter your message Here..."></textarea>
                    </div>
                </div>
            	<div class="form-group">
            		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-4">
                        <button type="submit" class="btn msg_send">Send</button>
                    </div>
            		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-4">
                        <button type="button" class="btn msg-cancel">Cancel</button>
                    </div>
                </div>
            		<input class="id" type="hidden" name="id" value="0">
            		<input class="entity" type="hidden" name="entity" value="0">
  			</form>
	</div>
</div>

<script>
var $ActivePopover = "None";
$(document).ready(function() {
    $(".popuplink").popover({
        placement: 'bottom',
        html: 'false',
        container: 'body',
        title : function() {
      		return $("#popover-head").html();
    		},
        content : function() {
      		return $("#popover-content").html();
    		}
    });
	$(document).keydown(function(e){
        if (e.keyCode == 27){
      		$('.popuplink').popover('hide');
      		$ActivePopover = "None";
        }
	});
	$('.popuplink').on('show.bs.popover', function (e) {
 		if ($ActivePopover=="None")
 			$ActivePopover=$(e.target);
        else{
 			$ActivePopover.popover('hide');
        	$ActivePopover=$(e.target)
        }
	});
	$('.popuplink').on('hide.bs.popover', function (e) {
    	$ActivePopover="None";
    });
});	

$(document).on("click", function (e) {
   	$(".msg-form").unbind("submit");
	var $target = $(e.target);
	isPopover = $target.is('.popuplink');
	inPopover = $target.closest('.popover').length > 0;

    if(inPopover){
        if($target.is('.msg-cancel')){
        	$('.popuplink').popover('hide');
        	$ActivePopover = "None";
        }
        else{
			$( ".msg-form" ).submit(function( event ) {
        		$('.popuplink').popover('hide');
        		$ActivePopover = "None";

				event.preventDefault();
				id = $(this).find( "input[name='id']" ).val();
        		entity = $(this).find( "input[name='entity']" ).val();
        		msg_content = $(this).find("textarea").val();
        		url = $(this).attr( "action" );
console.log("id="+id);
console.log("entity="+entity);
console.log("content="+msg_content);
                //Send the data using post
        		var posting = $.post( url, { id: id,entity: entity, msg_content: msg_content } );
				// Put the results in a div
				posting.done(function( data ) {
console.log("return data="+data);
					$( ".flash" ).empty().append( data );
					$(".flash").css('display','block');
				});
				$(".msg-form").unbind("submit");
			});
		}
    }
	else if(isPopover){
        //Dont do anything. Bootstrap will handle it and show the popover
    }
    else{
        $('.popuplink').popover('hide');
        $ActivePopover = "None";
    }
});
</script>
