<div class="{{=thumbnail_class}}">
	<div class="thumbnail">
        
        <!-- thumbnail header-->
        <h5 class="name">{{=name}}</h5>
        
        <!-- Icons in thumbnail-->
        <div class="row">
            <!--View Details icon-->
            <div class="{{=icon_class}} iconbox" align="middle">
                <div class="row icon" onclick="jQuery('#mainformid').val('{{=id}}'); jQuery('#mainform').submit()">
                    {{=IMG(_class='iconimg', _src=URL('static','images/viewdetails.png'), _alt='Details')}}
                </div>
        		<div class="row icontext">Details</div>
            </div>
            
            <!--View reports icon-->
			<div class="{{=icon_class}} iconbox" align="middle">
                <div class="row icon" onclick="jQuery('#mainformid').val('{{=id}}');  jQuery('#mainform').attr('action','{{=actionreport}}'); jQuery('#mainform').submit()">
        			{{=IMG(_class='iconimg', _src=URL('static','images/report.jpg'), _alt='report')}}
                </div>
        		<div class="row icontext">Reports</div>
            </div>
            
            <!--Send Message icon-->
			<div class="{{=icon_class}} iconbox" align="middle">
                <div class="row icon">
                    <img class="popuplink iconimg" src="{{=URL('static','images/message.png')}}" alt="Message" onclick="jQuery('#popover-content>form.form-horizontal>div.form-group>p.msgheader').html('{{=name}}'); jQuery('#popover-content>form.form-horizontal>input.id').attr('value', '{{=id}}'); jQuery('#popover-content>form.form-horizontal>input.entity').attr('value', '{{=type}}')"/>
                </div>
        		<div class="row icontext">Message</div>
            </div>
            
            <!--Need to add some icon-->
			<div class="{{=icon_class}} iconbox" align="middle">
                <div class="row icon">
        			{{=IMG(_class='iconimg',_src=URL('static','images/postponed.gif'), _alt='report')}}
                </div>
        		<div class="row icontext">None</div>
            </div>
        </div>
        
		</div>
</div>
