{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}
{{include 'search.html'}}
{{action=URL('school','attendance')}}

{{block left_sidebar}}
<div id="left_sidebar">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        {{=INPUT(_name='Workingday',_type='date')}}
        <input name="classid" type="hidden"/>
		<input name="sectionid" type="hidden"/>
    </div>
</div>
{{end}}


<div class="btn-group">
	<button class="btn">Classes</button>
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id="classes">
		<li class="divider"></li>
	</ul>
</div>
<div class="btn-group">
	<button class="btn">Sections</button>
	<button data-toggle="dropdown" class="btn dropdown-toggle"> 
    	<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="sections">
        <li class="divider"></li>
    </ul>
</div>


<h4>Students</h4>

<div class="row pull-right">
    <div class="legend-item"><span class="label label-success"></span> Present</div>
    <div class="legend-item"><span class="label label-danger"></span> Absent</div>
</div>

<div class="row" id="students">
    
</div>

<div class = "row">
	<button type="button" class="btn btn-default" id="save" onclick="markattendance()">Save</button>
	<button type="button" class="btn btn-default" id="notify">Notify</button>
</div>

  <div class="modal fade" id="modelConfirm" role="dialog" tabindex='-1' data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Absentees List</h4>
        </div>
        <div class="modal-body">
          body
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-primary">Confirm</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
<script>
	var classes = {{=classsection}};
    $( document ).ready(function() {	
		$(document).on("click", function (e) {
    		student_togglepresence($(e.target))
    	});    	
    	
    	console.log( "ready!" );
        for(var i=0;i<classes.length;i++)
		{
   			var classid=classes[i].classid;
            var classname=classes[i].classname;
            $('#classes').append('<li><a href="#" onclick=GetSection(' + classid + ')><span>' + classname + '</span></a></li>');
		}
		
	});
    
    function GetSection(classid)
    {
    	console.log(classid);
    	for(var i=0;i<classes.length;i++)
        {
            if(classes[i].classid==classid)
            {
            	var sections=classes[i].section; 
                $("#sections li").remove();
                for(var j=0;j<sections.length;j++)
                {
                	var sectionid = sections[j].sectionid;
                	var sectionname= sections[j].sectionname;
                	$('#sections').append('<li><a href="#" onclick=GetStudents(' + sectionid + ') ><span>' + sectionname + '</span></a></li>');
                }
            	break;
            }
        }
    }
    
    function GetStudents(sectionid)
    {
    	image="{{=URL('static','images/defaultphoto.png')}}";
        element="#students";
        $(element).empty();
    	
        $.ajax({
            datatype: "json",
        	type: "POST",
            url: "{{=URL('school','getstudents')}}",
        	data: {'sectionid':sectionid}
        }).done(function(dat){
            var data = jQuery.parseJSON(dat);

            for(index=0; index<data.length; index++){
                id=data[index].id;
                name=data[index].first_name+" "+data[index].last_name;
                present=0;
                thumbnaildiv = add_thumbnail(id, name, present, image, element);
            }
		});
    }

    
    function markattendance() {
        var absenteeslist = new Array();
        absenteeslist.push(['userId', 'Name']);
        
        $('.user-box').each(function() {
            if (!$(this).data('present')) {
            	console.log("id=" + $(this).data('id')+". absent");
        		absenteeslist.push([$(this).data('id'), $(this).find('.name').text()]);
            }
        });
        
        console.log("total absentees="+(absenteeslist.length-1));

        table=create_table(absenteeslist);
        $('#modelConfirm').find('.modal-body').empty();
        $('#modelConfirm').find('.modal-body').text("Total Absentees = "+(absenteeslist.length-1));
        $('#modelConfirm').find('.modal-body').append($(table));
       	$('#modelConfirm').modal('show');
        /*
        $.ajax({
        	type: "POST",
			url: "{{=URL('school','saveattendance')}}",
        	data: {'absenteeslistIDs':absenteeslist}
		}).done;
*/
    }
</script>

{{include 'attendanceform.html'}}
{{include 'popover.html'}}
