{{extend 'layout.html'}}
{{include 'search.html'}}

<h4>Classes</h4>
<div class="row">
    {{action=URL('school','sections')}}
	{{actionreport=URL('school','sectionreport')}}
    {{for record in records:}}
    	{{id=record.id}}
    	{{name=record.section_nm}}
    	{{type=section_type}}
    	{{include 'thumbnail.html'}}
    {{pass}}
</div>

<div class="clearfix"></div>

<BR/><BR/>

<h4>Subject Groups</h4>
<div class="row">
    {{action=URL('school','subgroup')}}
	{{actionreport=URL('school','subgroupreport')}}
    {{for record in subgroup_records:}}
    	{{id=record.id}}
    	{{name=record.subgroup_name}}
    	{{type=subgroup_type}}
    	{{include 'thumbnail.html'}}
    {{pass}}
<div>
{{include 'form.html'}}
{{include 'popover.html'}}
{{include 'javascript.html'}}
